body {
    margin: 0;

    a {
        text-decoration: none;
        color: inherit;
    }
}

h5 {
    margin: 0;
}

.text-dark-blue {
    color: $dark-blue;
    opacity: 0.9;
}

main {
    animation: fadeIn ease-in 3.5s;
}