.renders-page {
    position: relative;

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 80vh;
        position: relative;
        padding: 0 3vw;

        @media only screen and (min-device-width: 801px) {
            flex-wrap: nowrap;
        }

        .section-text {
            margin: 2.5vh 5vh;
            font-family: $font-title;
            border-left: 0.2rem solid $dark-blue;
            padding-left: 1.5rem;

            @media only screen and (min-device-width: 801px) {
                margin: 2.5vh 10vh;
                max-width: 35%;
            }

            &__title {
                font-size: 2.75rem;
                font-weight: 500;
            }

            &__subtitle {
                font-style: italic;
                font-weight: 300;
            }

            &__description {
                font-weight: 400;
                font-size: 1.1rem;
            }

            &__more {
                font-weight: 500;
                font-size: 1.1rem;
                border: 0.2rem solid $dark-blue;
                border-radius: 1rem;
                color: $dark-blue;
                display: inline-block;
                transition: all 0.75s ease-in;
                background: linear-gradient(to right, $dark-blue 50%, $white 50%);
                background-size: 200% 100%;
                background-position: right bottom;

                .more-button {
                    margin: 0.5vh 1.5vh;

                    &__extra {
                        opacity: 0;
                        transition: all 0.5s;
                    }
                }

                &:hover {
                    color: $orange;
                    background-position: left bottom;

                    .more-button {
                        &__extra {
                            opacity: 1;
                        }
                    }
                }
            }

            .tagbox-list {
                display: flex;
                flex-wrap: wrap;

                .tagbox {
                    background-color: $orange;
                    display: block;
                    padding: 1vh 2vh;
                    border-radius: 1vh;
                    margin-right: 2vh;
                    margin-bottom: 1vh;
                    transition: transform 0.5s;

                    h5 {
                        font-family: $font-title;
                        font-weight: 700;
                        color: $dark-blue;
                        opacity: 0.9;
                    }

                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }
        }

        .section-image {
            height: 50vh;
            margin: 2.5vh;
            display: flex;
            align-items: center;

            @media only screen and (min-device-width: 801px) {
                height: 75vh;
            }

            img {
                max-height: 100%;
                max-width: 100%;
                border-top-left-radius: 5vw;
                border-bottom-right-radius: 5vw;
            }
        }
    }
}