// fonts
$font-title: 'Josefin Sans', sans-serif;

// colours
$white: #FFFFFF;
$platinum: #E5E5E5;
$orange: #FCA311;
$dark-blue: #14213D;
$black: #000000;

// animations
@keyframes slide-up {
    0% {
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}